<h1>Add course</h1>

<form action="/add" method="POST">
    <div class="input-field col s6">
        <input id="title" type="text" class="validate" name="title" required>
        <label for="title">Title</label>
    </div>

    <div class="input-field col s6">
        <input id="price" type="text" class="validate" name="price" required>
        <label for="price">Price</label>
    </div>

    <div class="input-field col s6">
        <input id="course_image" type="text" class="validate" name="img" required>
        <label for="course_image">Image URL</label>
    </div>

    <button class="btn standart-btn">Добавить курс</button>
</form>

<!-- <span class="helper-text" data-error="wrong" data-success="right">Helper text</span> -->